apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      containers:
      - name: backend-api
        image: quay.io/prometheuscommunity/http-backend-demo:latest
        ports:
        - containerPort: 8081
        imagePullPolicy: IfNotPresent

