apiVersion: v1
kind: Service
metadata:
  name: backend-api
  namespace: apps
  labels:
    app: backend-api
spec:
  selector:
    app: backend-api
  ports:
  - protocol: TCP
    port: 8081
    targetPort: 8081

